* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}


body {
    font-family: Arial, Helvetica, sans-serif;
    font: size 14px;
    color: #222;
    background: #f0f0ff;
    line-height: 1.7;
}

/*header*/

header {
    background: #1a3a2a;
    color:#fff;
    padding: 32px 40px;
    text-align: center;
}

header h1 {
    font-size: 1.8rem;
    margin-bottom: 4px;
}

header p {
    color: rgba(255,255,255.0.7);
    font-size: 13px;
}

/*main*/

main {
    max-width: 800px;
    margin: 28px auto;
    background:#fff;
    padding:36px 40 px;
    border-top:4px solid #614e4e;
}

/*section*/

section {
    margin-bottom: 28px;
}

h2 {
    font-size:11px;
    letter-spacing: 3px;
    text-transform:uppercase;
    color:#c9922a;
    border-bottom:1px tranlucent #1a3a2a;
    padding-bottom: 5px;
    margin-bottom:14px;
}

p {
    color:#19e30e;
}

ul {
    padding-left:18px;
    color: #444;
}

ul li {
    margin-bottom: 16px;
}

/*entry*/

.entry {
    margin-bottom: 16px;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 4px;
    margin-bottom: 6px;
    font-size: 14px;
    color: #1a3a2a;
}

.row span {
    color:brown;
    font-size: 12px;
}

/*responsive*/

@media (max-width: 600px) {
    header, main { padding: 24px 20px; }
    main { margin: 16px; }
    .row { flex-direction: column; }
}
